--- 
layout: default 
title: About2 
--- 

 

 <div class="grid_12 subFeature subFeature-greenHeader"> 
	<div class="grid_3 alpha"><h2>About PurePlay</h2></div> 
				</div> 
				 
				<div class="clear"></div> 
				 
				<div class="grid_6"> 
					<big>Pure Play Orthopaedics is a specialist distributor of orthopaedic implants, biotherapeutics and rehabilitation devices, quickly establishing itself through superior service and expert product knowledge.</big> 
				</div> 
				 
				<div class="grid_6"> 
                                    <blockquote>“Building and maintaining relationships with the medical profession”</blockquote> 
				</div> 
				 
				<div class="clear"></div> 
				<div class="grid_12 subFeature"> 
					<div class="grid_3 alpha"><h2>PurePlay Team</h2></div> 
				</div> 
				<div class="clear"></div> 
				 
				<div class="grid_6 teamMember"> 
					<img src="/__resource/da/0f/3d/02/da0f3d0299856098f98d355ca42fe0dc9d23b84f/Mark_Site.jpg" class="bordered" alt="Profile Photo"> 
					<div class="details"> 
						<h3>Mark Graham</h3> 
						<span class="role">Director</span> 
						<div class="contact"> 
							<a href="mailto:mark@pureplayortho.com.au">mark@pureplayortho.com.au</a> 
							<a href="http://www.linkedin.com/pub/mark-graham/1a/415/836" class="imageButton contact-linkedin">Linkedin</a> 
							<a href="http://twitter.com/#!/markpureplay" class="imageButton contact-twitter">Twitter</a> 
						</div> 
						<p> 
							During a career of more than 240 AFL games, Mark became well acquainted with the treatments, procedures and techniques delivered by some of the finest and most reputable medical practitioners when dealing with sporting injury trauma. This experience was the catalyst for Mark to begin his next professional journey – initially as a demonstrator of orthopaedic prostheses through to his current role as director of Pure Play. 
						</p> 
					</div> 
				</div> 
				<div class="grid_6 teamMember"> 
					<img src="/__resource/da/0f/3d/02/da0f3d0299856098f98d355ca42fe0dc9d23b84f/staff_DanRibot.jpg" class="bordered" alt="Profile Photo"> 
					 
					<div class="details"> 
						<h3>Dan Ribot</h3> 
						<span class="role">Director</span> 
						<div class="contact"> 
                                                    <a href="mailto:daniel@globalortho.com.au">daniel@globalortho.com.au</a> 
                                                    	<a href="http://www.linkedin.com/pub/daniel-ribot-de-bressac/31/902/195" class="imageButton contact-linkedin">Linkedin</a> 
							 
						</div> 
						<p> 
							Dan has developed unprecedented product knowledge during his twelve years at parent company, Global Orthopaedic Technology. In that time he attended and advised medical practitioners in hospital theatres and board rooms across Australia and internationally. It is this invaluable wealth of experience and knowledge Dan now brings to Pure Play. 
						</p> 
					</div> 
				</div> 
				 
				<div class="clear"></div> 
				 
                                <div class="grid_6 teamMember teamMemberTall"> 
					<img src="/__resource/da/0f/3d/02/da0f3d0299856098f98d355ca42fe0dc9d23b84f/staff_jontarascio.jpg" class="bordered" alt="Profile Photo"> 
					 
					<div class="details"> 
						<h3>Jonathon Tarascio</h3> 
						<span class="role">Spine and Orthobiologics Manager Victoria and Tasmania</span> 
						<div class="contact"> 
                                                    <a href="mailto:jonathont@pureplayortho.com.au">jonathont@pureplayortho.com.au</a> 
                            <a href="http://twitter.com/#!/jonopureplay" class="imageButton contact-twitter">Twitter</a> 
						</div> 
                                                <p> 
                                                   After completing a Bachelor of Applied Science in Laboratory Medicine, majoring in Haematology and Histology, Jonathon worked at the Victorian Institute of Forensic Medicine where he assisted anthropologists and odontologists during the ‘Black Saturday’ bush fires. Coupled with his experience at the Donor Tissue Bank of Victoria retrieving donor hearts and processing musculoskeletal tissue for future transplantation, Jonathon lends a unique perspective on human tissue to the PurePlay team. 
                                                </p> 
                                                 
					</div> 
				</div> 
                                 
                                <div class="grid_6 teamMember"> 
					<img src="/__resource/da/0f/3d/02/da0f3d0299856098f98d355ca42fe0dc9d23b84f/Staff_02_site.jpg" class="bordered" alt="Profile Photo"> 
					 
					<div class="details"> 
						<h3>Jonathan Andreou</h3> 
						<span class="role">Territory Manager Wagga Wagga and Albury</span> 
						<div class="contact"> 
							<a href="mailto:jonathan@pureplayortho.com.au">jonathan@pureplayortho.com.au</a> 
								<a href="http://twitter.com/#!/JApureplay" class="imageButton contact-twitter">Twitter</a> 
                                            </div> 
						<p> 
							Based in twin cities Wagga and Albury Jonathon has experience in engineering sales in addition to his tertiary management qualifications. As the most recent member of the Pure Play Orthopaedics team he is sure to impress with his business acumen and management focus. 
						</p> 
					</div> 
				</div> 
 
				<div class="clear"></div> 
 
                                   <div class="grid_6 teamMember"> 
					<img src="/__resource/da/0f/3d/02/da0f3d0299856098f98d355ca42fe0dc9d23b84f/Staff_04_site.jpg" class="bordered" alt="Profile Photo"> 
					 
					<div class="details"> 
						<h3>Tom Bice</h3> 
						<span class="role">Loan Set Manager</span> 
						<div class="contact"> 
							<a href="mailto:tom.bice@globalortho.com.au">tom.bice@globalortho.com.au</a> 
						</div> 
                                                <p>A veteran of surgical procedures and orthopaedic instrument sterilization procedures at both St John of God Hospital in regional Ballarat and The Avenue Private Hospital in Melbourne, Tom offers the perfect skill set to our staff and provides expert advice to clinicians and surgeons alike. 
                                                </p> 
					 
					</div> 
				</div> 
				 
				<div class="clear"></div> 
				 
<div class="grid_12 subFeature subFeature-greenHeader"><div class="grid_3 alpha"><h2>PurePlay Partners</h2></div></div> 
 
<div class="clear"></div> 
 
<div class="grid_3 supplier"> 
	<a href="http://globalortho.com.au/"> 
	    <img src="/__resource/da/0f/3d/02/da0f3d0299856098f98d355ca42fe0dc9d23b84f/supplier-globalorthopadic.png" /> 
	</a> 
</div> 
<div class="grid_3 supplier"> 
	<a href="http://orthocell.com.au/"> 
	    <img src="/__resource/da/0f/3d/02/da0f3d0299856098f98d355ca42fe0dc9d23b84f/supplier-orthocell.png" /> 
	</a> 
</div> 
<div class="grid_3 supplier"> 
	<a href="http://www.medartis.com/"> 
	    <img src="/__resource/da/0f/3d/02/da0f3d0299856098f98d355ca42fe0dc9d23b84f/supplier-medartis.png" /> 
	</a> 
</div> 
<div class="grid_3 supplier"> 
	<a href="http://oped.com.au/"> 
	    <img src="/__resource/da/0f/3d/02/da0f3d0299856098f98d355ca42fe0dc9d23b84f/supplier-oped.png" /> 
	</a> 
</div> 
 
<div class="clear"></div>         
        <div class="clear"></div> 
      </div> 
