--- 
layout: default 
title: Blog 
--- 

 

<div class="grid_4" id="blog-submenu"> 
<#assign blogs = blog.articlesPage(request.parameters.page, 5, 'text', null)/> 
<h3>Blog posts</h3> 
<ul> 
 
<#list blogs.list as article> 
 
	<li><a href="/blog/blog-post/#{article.id}">${article.title}</a></li> 
 
 	</#list> 
	</ul> 
</div> 
<div class="grid_8"> 
	 <#assign blogs = blog.articlesPage(request.parameters.page, 10, 'text', null)/> 
	   <#list blogs.list as article> 
 
 
<div class="grid_8 subFeature subFeature-greenHeader"> 
	<div class="grid_6 alpha"> 
	<h2><a href="/blog/blog-post/#{article.id}">${article.title}</a></h2> 
	<p>${article.teaser}</p> 
	</div> 
	<div class="grid_2 omega"> 
	<#if mediaThumbnailLink(article.smallFeatureImage)?has_content && mediaThumbnailLink(article.smallFeatureImage) != "/__image/" > 
	<img class="thumbnail" src="${mediaThumbnailLink(article.smallFeatureImage)}" alt="Blog Post" /> 
	</#if> 
	</div> 
</div> 
 	</#list>   
</div> 
