--- 
layout: default 
title: blog-test 
--- 

 

<div class="grid_4" id="blog-submenu"> 
<#assign blogs = blog.articlesPage(request.parameters.page, 5, 'text', null)/> 
<h3>Blog posts</h3> 
<ul> 
 
<#list blogs.list as article> 
 
    <li><a href="/blog-test/blog-post/#{article.id}">${article.title}</a></li> 
			 
 	</#list> 
    </ul> 
</div> 
<div class="grid_8"> 
     <#assign blogs = blog.articlesPage(request.parameters.page, 10, 'text', null)/> 
       <#list blogs.list as article> 
 
 
<div class="grid_8 subFeature subFeature-greenHeader"> 
    <h2><a href="/blog-test/blog-post/#{article.id}">${article.title}</a></h2> 
	 
<p>${article.teaser}</p> 
     
</div> 
 	</#list>   
    </div> 
 
 
 
