--- 
layout: default 
title: Contact 
--- 

 

<script type="text/javascript">       
      $(document).ready(function(){ 
        $("label").makeLabelInline(); 
         
      });       
</script> 
 
<div class="grid_12 subFeature subFeature-green"> 
          <div class="grid_3 alpha"> 
            <h2>Contact</h2> 
          </div> 
           
          <div class="clear"></div> 
           
          <div class="grid_6 alpha"> 
            <div class="grid_3 alpha"> 
              <p> 
                <strong>PurePlay Orthopaedics</strong><br />  
                62-64 Highbury Road,<br />  
                Burwood, VIC 3125 
              </p> 
            </div> 
            <div class="grid_3 omega"> 
              <p> 
                <strong>Email Address:</strong><br/> 
                  <a href="mailto:info@pureplayortho.com.au">info@pureplayortho.com.au</a> 
              </p> 
 
              <p> 
                <strong>Phone:</strong> (03) 9888 8808<br /> 
                <strong>Fax:</strong> (03) 9888 8012 
              </p> 
            </div> 
            <div class="clear"></div> 
            <div class="grid_6 alpha omega"><div class="dotted"></div></div> 
            <div class="grid_6 alpha omega"> 
                <img src="/img/globalorth-rbk.JPG"/> 
            </div> 
             
          </div> 
           
           
          <div class="grid_6 omega"> 
               
              <p><strong>Find Pureplay:</strong></p> 
              <iframe width="470" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?hl=en&q=62-64+Highbury+Road,+Burwood,+VIC+3125&ie=UTF8&hq=&hnear=62%2F64+Highbury+Rd,+Burwood+Victoria+3125&gl=au&t=m&vpsrc=0&ll=-37.854458,145.103216&spn=0.010165,0.040255&z=14&iwloc=A&output=embed"></iframe><br /><small><a href="http://maps.google.com.au/maps?hl=en&q=62-64+Highbury+Road,+Burwood,+VIC+3125&ie=UTF8&hq=&hnear=62%2F64+Highbury+Rd,+Burwood+Victoria+3125&gl=au&t=m&vpsrc=0&ll=-37.854458,145.103216&spn=0.010165,0.040255&z=14&iwloc=A&source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small> 
            
               
              <!-- 
            <p><strong>Send us a message:</strong></p> 
            <div class="contactBox"> 
               
              <form action="contact_submit" method="post"> 
                <p>   
                  <label for="name">Name</label><input type="text" name="name" value="" id="name">                 
                  <label for="email_address">Email</label><input type="text" name="email_address" value="" id="email_address"> 
                </p>           
                 
                <p> 
                  <label for="message">Message</label> 
                  <textarea name="message" id="message"></textarea> 
                </p> 
                 
                <input type="submit" value="Submit ?"> 
              </form> 
               
            </div>--> 
          </div> 
           
        </div>