--- 
layout: default 
title: Disclaimer 
--- 

 

<div class="grid_12 subFeature subFeature-greenHeader"> 
  <div class="grid_3 alpha"><h2>Disclaimer</h2></div> 
</div> 
 
<div class="clear"></div> 
 
<div class="grid_6"> 
  <big><p>This website contains general information about medical conditions and treatments. <br>The information is not advice, and should not be treated as such.</p></big> 
 
  <h3>Limitation of warranties </h3> 
        <p>The medical information on this website is provided “as is” without any representations or warranties, express or implied. Pure Play Orthopaedics makes no representations or warranties in relation to the medical information on this website.</p> 
         
        <p>Without prejudice to the generality of the foregoing paragraph, Pure Play Orthopaedics does not warrant that: 
        <ul><li>the medical information on this website will be constantly available, or available at all; or</li> 
        <li>the medical information on this website is complete, true, accurate, up-to-date, or non-misleading.</li></ul></p> 
         
        <h3>Professional assistance</h3> 
        <p>You must not rely on the information on this website as an alternative to medical advice from your doctor or other professional healthcare provider. 
        If you have any specific questions about any medical matter you should consult your doctor or other professional healthcare provider. 
        If you think you may be suffering from any medical condition you should seek immediate medical attention. 
        You should never delay seeking medical advice, disregard medical advice, or discontinue medical treatment because of information on this website.</p> 
         
        <h3>Liability</h3> 
        <p>Nothing in this medical disclaimer will limit any of our liabilities in any way that is not permitted under applicable law, or exclude any of our liabilities that may not be excluded under applicable law.</p> 
   
</div> 
   
 
 
 
