--- 
layout: default 
title: home-test 
--- 

 

 <div class="grid_12 feature"> 
           
          <div class="grid_4 prefix_7"> 
            <h1><small>Specialising in</small><br/> 
            Orthopaedic Reconstruction</h1> 
            <p>Distributors for Global Orthopaedic Technology, Orthocell, Medartis and OPED</p> 
          </div> 
           
        </div> 
         
        <div class="clear"></div> 
          <#assign blogs = blog.articlesPage(request.parameters.page, 1, 'text', null)/> 
            
        <div class="grid_6 subFeature"> 
        
          <div class="grid_3 alpha"><h2>Latest Blog 
          Post</h2></div> 
           <#list blogs.list as article> 
          <div class="grid_3 omega"> 
              <h3><a href="/blog/blog-post/#{article.id}">${article.title}</a></h3> 
              <p class="date">posted 05/01/12</p> 
            <p>${article.teaser}</p> 
            </div> 
            </#list>   
        </div> 
        	 
 	 
        <div class="grid_6 subFeature"> 
          <div class="grid_3 alpha"><h2>Twitter @pureplayortho</h2></div> 
          <div class="grid_3 omega"> 
             
            <@tweets "pureplayortho", 2> 
          <div class="tweet"> 
            <p>{{message}}</p> 
            <a href="{{tweetUrl}}">{{date}}</a> 
          </div> 
        </@tweets>          
 
             
          </div> 
        </div> 
         
        <div class="clear"></div> 
         
        <div class="grid_12 subFeature subFeature-yellow"> 
          <div class="grid_3 alpha"> 
            <h2>Upcoming Events</h2> 
          </div>   
          <div class="grid_3 omega"> 
            <h3><h3><a href="http://www.hellomedical.com/media/link/photo/926" target="_blank">Ceramics In Orthopaedics - featuring Roger Sparks (Ceramtec ANZ)</a></h3> 
            <p>15 March 2012</p> 
            <p>Global Orthopaedics<br>62-64 Highbury Road, Burwood</p>  
          </div>         
          <div class="grid_3 omega"> 
            <h3><h3><a href="http://www.aoa.org.au/Events1/COE_Meetings.aspx">2012 Australian Orthopaedic Association COE - Hip and Knee Arthroplasty - the good, the bad and the ugly!</a></h3> 
            <p>2 - 4 May 2012</p> 
            <p>Brisbane, Queensland</p>  
          </div> 
        </div>