--- 
layout: default 
title: home2 
--- 

 

<div class="grid_12 feature"> 
 
		 <div class="grid_4 prefix_7"> 
		   <h1><small>Specialising in</small><br/> 
		   Orthopaedic Reconstruction</h1> 
		   <p>Distributors for Global Orthopaedic Technology, Orthocell, Medartis and OPED</p> 
		 </div> 
 
	   </div> 
 
	   <div class="clear"></div> 
		 <#assign blogs = blog.articlesPage(request.parameters.page, 1, 'text', null)/> 
 
	   <div class="grid_6 subFeature"> 
 
		 <div class="grid_3 alpha"><h2>Latest Blog 
		 Post</h2></div> 
		  <#list blogs.list as article> 
		 <div class="grid_3 omega"> 
			 <h3><a href="/blog/blog-post/#{article.id}">${article.title}</a></h3> 
			 <p class="date">${article.createDate?string("dd MMMMM yyyy")}</p> 
		   <p>${article.teaser}</p> 
		   </div> 
		   </#list>   
	   </div> 
 
 
	   <div class="grid_6 subFeature"> 
		 <div class="grid_3 alpha"> 
		 
		 
	<h2 style="margin: 5px 0px; ">Twitter</h2><div class="twitter_btn"><a href="https://twitter.com/#!/pureplayortho">@pureplayortho</a></div> 
	<h2 style="border-top: 0px; margin: 5px 0px;padding-top: 0px; padding-right: 50px;">Facebook</h2><div class="facebook_btn"><a href="https://www.facebook.com/pages/PurePlay-Orthopaedics/376858379037171">PurePlayOrtho</a></div> 
		 </div> 
		 <div class="grid_3 omega"> 
 
		   <@tweets "pureplayortho", 2> 
		 <div class="tweet"> 
		   <p>{{message}}</p> 
		   <a href="{{tweetUrl}}">{{date}}</a> 
		 </div> 
	   </@tweets>          
 
 
		 </div> 
	   </div> 
 
	   <div class="clear"></div> 
 
	   <div class="grid_12 subFeature subFeature-yellow"> 
		 <div class="grid_3 alpha"> 
		   <h2>Upcoming Events</h2> 
		 </div>   
 
 
 
 
 
			<div class="grid_3 omega"> 
			   <h3><h3><a href="http://www.aoassn.org/meetings-events/aoa-annual-meeting.aspx">125th Annual Meeting 
			The AOA's 2012 Annual Meeting will be headquartered at the Gaylord National Hotel in Washington, DC.  </a></h3> 
			   <p>June 27-30, 2012</p> 
			   <p>Washington, DC.</p>  
			 </div> 
 
				<div class="grid_3 omega"> 
				   <h3><h3><a href="http://www.spineacrossthesea.org/">The North American Spine Society (NASS) and the Japanese Society for Spine Surgery and Related Research (JSSR) invite you to Spine Across the Sea</a></h3> 
					<p> Spine Across the Sea is held every three years and offers oral and poster scientific presentations as well as symposia. The conference will provide participants with an opportunity to share current information and concepts relating to spinal problems.</p> 
				   <p>July 29 - August 2 2012</p> 
				   <p>Kauai, Haiwaii</p>  
				 </div> 
 
									<div class="grid_3 omega"> 
		   <h3><h3><a href="http://www.istaonline.org/">ISTA 2012 - Sydney, the Annual Congress of the International Society for Technology in Arthroplasty is fast approaching! </a></h3> 
			<p> This is the Silver Anniversary for ISTA, and our meeting in Sydney will continue to break new ground as the event to present the latest research and development efforts in arthroplasty.</p> 
		   <p>3-6 October 2012</p> 
		   <p>Sydney, New South Wales</p>  
		 </div> 
 
 
 
 
 </div>