--- 
layout: default 
title: Research 
--- 

 

<div class="grid_12 subFeature subFeature-greenHeader"> 
  <div class="grid_3 alpha"><h2>Orthopaedic Research</h2></div> 
</div> 
 
<div class="clear"></div> 
 
<div class="grid_6"> 
  <big>Pure Play Orthopaedics is dedicated to advancement of orthopaedic research. PPO carries out this mission by supporting surgeons pursuing research into the management of musculoskeletal diseases and injuries.</big> 
   
   
</div> 
 
<div class="grid_6"> 
    <blockquote>"Advancement of musculoskeletal research through colloboration and the appropriate use of technology"</blockquote>   
  
</div> 
 
<div class="clear"></div> 
<div class="grid_12 subFeature"> 
  <div class="grid_6 alpha"><h2>Resources - Cinical Research Compliance</h2></div> 
</div> 
<div class="clear"></div> 
 
<!-- 
 
<ul> 
  <li><a href="http://www.tga.gov.au/docs/pdf/euguide/ich/ich13595.pdf">Note for Guidance on Good Clinical Practice</a></li> 
  <li><a href="http://www.tga.gov.au/ct/cthandbook.pdf">The Australian Clinical Trials Handbook</a></li> 
  <li><a href="http://www.tga.gov.au/docs/pdf/unapproved/clintrials.pdf">Access to Unapproved Therapeutic Goods - Clinical Trials in Australia</a></li> 
  <li><a href="http://www.nhmrc.gov.au/_files_nhmrc/file/publications/synopses/e72-jul09.pdf">National Statement on Ethical Conduct in Human Research</a></li> 
  <li><a href="http://www.wma.net/en/30publications/10policies/b3/17c.pdf">World Medical Association Declaration of Helsinki</a></li> 
  <li><a href="http://www.tga.gov.au/devices/devices.htm">Medical Devices - TGA</a></li> 
   
  <li><a href="http://www.nhmrc.gov.au/_files_nhmrc/file/health_ethics/human/conduct/guidelines/e46.pdf">When Does Quality Assurance in Health Care Require Independent Ethical Review</a></li> 
  <li><a href="http://www.nhmrc.gov.au/_files_nhmrc/file/publications/synopses/e73.pdf">Challenging Ethical Issues in Contemporary Research of Human Beings</a></li> 
</ul> 
 
 
/--> 
 
 
