--- 
layout: default 
title: Blog post 
--- 

  <#assign article = blog.article(request.parameters.id)/> 
<@setPageTitle article.title/>

 
 <div class="grid_4" id="blog-submenu"> 
 <#assign blogs = blog.articlesPage(request.parameters.page, 5, 'text', null)/> 
 <h3>Blog posts</h3> 
 <ul> 
  
 <#list blogs.list as article> 
  
 			<li><a href="/blog/blog-post/#{article.id}">${article.title}</a></li> 
  
  	</#list> 
 	</ul> 
 </div> 
 <div class="grid_8"> 
  
  
 <div class="grid_8 subFeature subFeature-greenHeader"> 
 	<h2><a href="/blog/blog-post/#{article.id}">${article.title}</a></h2> 
  
 <#if mediaThumbnailLink(article.largeFeatureImage)?has_content > 
 <p><img class="feature" src="${mediaThumbnailLink(article.largeFeatureImage)}" alt="Blog Post" /></p> 
 </#if> 
  
 	${article.content} 
  
 </div> 
  
 	</div> 
  
  
 
