--- 
layout: default 
title: Global Orthopaedic Technology 
--- 

 

 <div class="grid_12 subFeature subFeature-greenHeader"> 
  	 <div class="grid_3 alpha"><a href="/product" class="fullWidthButton">Back to products</a></div> 
  	 <div class="grid_3 omega push_6"> 
  		 <a href="http://globalortho.com.au/"> 
  				<img src="/img/supplier-globalorthopadic.png" /> 
  			</a> 
  	 </div> 
  
  </div> 
  
  <div class="grid_12 productDetails"> 
    <h1 class="blue">Global Apex Modular Hip Stem</h1> 
    <p>The evolutionary Apex Modular Hip System addresses the surgeon’s concerns in regards to correction of joint mechanics after stem implantation, generation of particulate debris, fatigue strength and retrievability. It has been specifically designed to provide the proven fit and features of a state-of-the-art cementless stem with updated modular features to provide more intra-operative features.</p> 
  </div> 
  <div class="grid_6 productDetails"> 
  
  </div> 
  
  <div class="clear"></div> 
  
  <div class="grid_6"> 
  	<h2>Features of the Apex Modular Hip System includes:</h2> 
  	<ul> 
  		<li>The ability to fine-tune length and offset after stem seating, enabling the surgeon to restore leg length and offset independent of stem size</li> 
  		<li>Allows for the proper restoration of femoral head position which is important to: 
  			<ul> 
  				<li>Avoid leg length problems and reduce the frequency of dislocations</li> 
  				<li>To decrease the potential for wear of the prosthesis which is directly related to load across the joint and improper movement of the hip</li> 
  			</ul> 
  			</li> 
  
  			<li>Separate stem and neck parts allow for insertion through a smaller incision</li> 
  			<li>Reduced stiffness by employment of V-slot design stems</li> 
  			<li>Provides the surgeon with the ability to reproduce the joint biomechanics accurately as extensive offset and vertical height can be adjusted intra-operatively 
  				<ul> 
  					<li>Offset adjustable from 32.5mm-55mm to optimise stability</li> 
  					<li>Neck height adjustable from 22.5-40mm to ensure accurate leg length</li> 
  				</ul> 
  			</li>		         
  			<li>Eliminates the need for separate right and left stems as neck orientation is adjustable, reducing inventory demands</li> 
  			<li>Potential for incorrect stem alignment is decreased by flutes that do not extend to the distal end of the stem and thus do not engage until the stem is almost inserted</li> 
  			<li>Stepped proximal surface for increased resistance to subsidence</li> 
  			<li>Two proximal body sizes for each distal stem diameter</li> 
  	</ul> 
  </div> 
  
  <div class="grid_6"> 
  	<img src="/img/globalorth-apex.JPG" /> 
  </div> 
  
  <div class="clear"></div> 
  
  <div class="grid_8"> 
  	<h2>Publications</h2> 
  
  	<div class="journalArticle"> 
  		<div> 
  		  <span class="title"><a href="http://www.medicinepublishing.com/periodicals/ycuor/article/S0268-0890%2806%2900025-9/abstract">Cementless femoral revision: the role of monoblock versus modular stems.</a> </span><span class="authors">Scott M. Sporer, Wayne G. Paprosky</span> 
  		</div> 
  		<div class="journal"> 
  		  Orthopaedics and Trauma - June, 2006, Volume 20(3):171-8<br/> 
  		  <em>Rush University Medical Center, Chicago, Rush Presbyterian St. Luke's Medical Center, Chicago</em> 
  		</div> 
  		<div class="quotes"> 
  		  <p>A monoblock, extensively porous-coated stem can provide reliable long-term fixation for the majority of femoral revisions. However, stable long-term fixation may not be obtained in patients with moderate/severe bone loss or in patients with torsional femoral remodelling. If severe bone loss is present (Paprosky Type IV bone), a very large canal diameter is encountered (greater than 19mm) or if torsion remodelling of the proximal femur has occurred, alternative methods of fixation, such as a distally based modular stem, should be considered.</p> 
  		</div> 
  	</div> 
  
  	<div class="journalArticle"> 
  		<div> 
  		  <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2723684/">Component Version in Modular Total Hip Revision</a> </span><span class="authors">Michael A. Kopec, B.Sc, Aaron Pemberton, M.D., Joseph C. Milbrandt, Ph.D., and Gordon Allan, M.D. FRCS(C)*</span> 
  		</div> 
  		<div class="journal"> 
  		  The Iowa Orthopaedic Journal - 2009, Volume 29:5-10<br/> 
  		  <em>Division of Orthopaedics and Rehabilitation, Southern Illinois University School of Medicine, Springfield, IL</em> 
  		</div> 
  		<div class="quotes"> 
  		  <p>Morphologic changes of the proximal femur make revision total hip arthroplasty challenging. Metaphyseal retroversion and diaphyseal varus are common in this scenario. Twenty-one total hip revisions using a modular femoral prosthesis were examined by obtaining three radiographs (A/P, surgical lateral, and true lateral of the femur) to assemble CAD models for determining the range of modular component positioning. An average of femoral neck anteversion was observed. Seventeen of 21 cases (81%) had retroverted metaphyseal segments (?23.2°+/?17.4°) and/or varus stems (?32.1°+/?13.0°). Neck anteversion averaged 21.4°(+/?10.0°). One of 21 cases (5%) resulted in component orientation similar to a non-modular prosthesis. Modular components provide options to accommodate proximal femoral remodeling not afforded by monobloc stems in total hip revision surgery.</p> 
  		</div> 
  	</div> 
  
  </div> 
  
  <div class="clear"></div> 
  
  <div class="clear"></div> 
  
  <!-- 
  	Global Knee RBK Universal System 
  /--> 
  
  <div class="grid_12 productDetails"> 
    <h1 class="blue">Global RBK Universal Knee System</h1> 
    <p>Global Orthopaedic Technology’s RBK (rotating bearing knee) Universal system is a highly conforming knee arthroplasty in which rotational forces and movement in the knee joint are absorbed by the rotationaly bearing function of the tibial component.</p> 
  </div> 
  <div class="grid_6 productDetails"> 
  
  </div> 
  
  <div class="clear"></div> 
  
  <div class="grid_6"> 
  	<h2>Features of the Global RBK Universal System:</h2> 
  	<ul> 
  		<li>The system is closely matched to the aspect ratio of the human femur and tibia and comprised of: 
  			   <ul> 
  		 		<li>A cobalt chrome femoral component that comes in 5 sizes, left and right and is grooved for a native patella or placement of the patellar component</li> 
  					<li>An optional metal-backed, polyethylene patellar component</li> 
  					<li>The choice of two tibial components which both come in 5 sizes, left and right:</li> 
  			   <ul> 
  				<li>Traditional rotating platform made of cobalt chrome with highly polished bearing surface and four fixational spikes</li> 
  						<li>Universal tibial component with a low profile cruciform keel that allows translation and roll back of the femoral component on the bearing surface</li> 
  					</ul> 
  				</ul> 
  		</li> 
  		<li>The RBK system offers complete interchangeability between all femoral and tibial components due to the constant size of the cone housing in the tibial plate</li> 
  		<li>The tibial component limits the porous coating to the proximal one-third of the central cone to negate the persistent tibial pain seen in other prostheses</li> 
  		<li>The risk of malalignment is eliminated by the development of implantation recesses that allow the attachment of a locking impactor to the component so the surgeon can more accurately place it along the correct axis</li> 
  		<li>Also available is the Global RBK Patello-Femoral Resurfacing Implant that is designed for use in patients with isolated femoral disease (not including primary inflammatory arthropathy or where other joint compartments are involved)</li> 
  	</ul> 
  </div> 
  <div class="grid_6"> 
  	<img src="/img/globalorth-rbk.JPG" /> 
  	<img src="/img/pat-fem.jpg" /> 
  </div> 
  
  <div class="clear"></div> 
  
  <div class="grid_8"> 
  	<h2>Publications</h2> 
  
  	<div class="journalArticle"> 
  		<div> 
  		  <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19701626">Mid-term results with a highly congruous mobile-bearing knee prosthesis.</a> </span><span class="authors">Lemaire RG</span> 
  		</div> 
  		<div class="journal"> 
  		  Knee Surgery, Sports Traumatology, Arthroscopy - February, 2010, Volume 2:170-80<br/> 
  		  <em>Orthopaedic Department, Liege University Hospital, Liege, Belgium</em> 
  		</div> 
  		<div class="quotes"> 
  		  <p>Two hundred and six consecutive total knee arthroplasties were performed in 180 patients with a highly congruous mobile-bearing knee prosthesis. At mean follow-up of 78 months (range: 60-102 months), the outcomes of 181 knees in 158 patients were evaluated using the American Knee Society's Knee and Functional scoring system and Radiological scoring system. Mean values for Knee and Function scores were 92.6 and 81.1, respectively versus 51.8 and 43.4 preoperatively; mean flexion range was 113.6 degrees versus 110.8 degrees preoperatively. There were no cases of bearing dislocation and no radiological signs of loosening or osteolysis. Secondary patella resurfacing was done in 7 of 52 knees in which the patella was not primarily resurfaced. Arthroplasty survival with revision for aseptic loosening as the endpoint was 100% (95% CI: 97.7-100) at 5 years and at 8 years (95% CI: 87.2-100); with revision of the arthroplasty for any reason including one revision for infection as the endpoint, survival was 99.5% (95% CI: 96.9-100) at 5 years and at 8 years (95% CI: 86.9-100). The overall results were satisfactory and compared with those of other mobile-bearing knee prostheses featuring full or partial congruence. No significant differences were noted for range of motion, knee scores and function scores between two subsets of knees that received a bearing allowing only rotation or rotation and 5 mm anteroposterior translation. Longer follow-up is needed to evaluate possible benefits of high congruence and of specific modes of bearing mobility with respect to wear and bony fixation.</p> 
  		</div> 
  	</div> 
  
  </div> 
  
  <div class="clear"></div> 
  
  <div class="clear"></div> 
  
  <!-- 
  	Global MSA Hip Stem 
  /--> 
  
  <div class="grid_12 productDetails"> 
    <h1 class="blue">Global MSA Hip Stem</h1> 
    <p>Global's minimalistic MSA stem was designed to improve proximal load transfer while providing a more conservative approach to hip surgery.</p> 
  </div> 
  
  <div class="clear"></div> 
  
  <div class="grid_6"> 
  	<h2>Features of the MSA Stem:</h2> 
  	<ul> 
  		<li>Sparing of bone and/or soft tissue while minimising blood loss with any standard approach to hip surgery - this spares the femoral neck which has been shown to provide a clear mechanical advantage</li> 
  		<li>Restores joint mechanics and improves proximal load transfer</li> 
  		<li>Improves bone remodeling, limiting the undesirable bony structural changes that can occur after stemmed THA</li> 
  		<li>Potential reduction in rehabilitation</li> 
  		<li>Easily convertible to traditional THA in case of revision</li> 
  		<li>Simplistic design allows for easily reproducible surgical technique</li> 
  		<li>Opportunity to have bearing femoral head diameter and material as best indicated</li> 
  		<li>The selection of any standard surgical approach to the hip</li> 
  		<li>The prosthesis is compatible with large head technology</li> 
  	</ul> 
  </div> 
  <div class="grid_6"> 
  	<img src="/img/globalorth-msa.JPG" /> 
  </div> 
  
  <div class="clear"></div> 
  
  <!-- 
  	SuperCable 
  /--> 
  
  <div class="grid_12 productDetails"> 
    <h1 class="blue">SuperCable Iso-elastic Cerclage System</h1> 
    <p>This revolutionary polymer-based cerclage system is designed to solve many of the inherent problems of traditional monofilament wire and cabling systems.</p> 
  </div> 
  <div class="grid_6 productDetails"> 
  
  </div> 
  
  <div class="clear"></div> 
  
  <div class="grid_6"> 
  	<h2>Features of the system include:</h2> 
  	<ul> 
  		<li>Fatigue strength superior to both wire and cables thereby reducing complications due to breakage.</li> 
  		<li>The elimination of cable-generated metal particle debris that have been shown to greatly increase wear in adjacent total joints.</li> 
  		<li>No sharp cable ends to irritate patient tissue.</li> 
  		<li>No sharp cable ends to cut surgeon’s gloves or cause “sharps injury".</li> 
  		<li>Provides long-term dynamic compressive loading across bone fragments to offer the possibility for better healing and increased construct strength.</li> 
  		<li>Cables can be easily retightened to adjust cable tension, especially when multiple cables are applied, both saving time and reducing the number of cables required.</li> 
  		<li>Cables are easy and quick to manipulate within the wound.</li> 
  		<li>No metal cable contacting metallic implants.</li> 
  	</ul>      
  
  	<h2>Questions</h2> 
  	<h4>How easy is it to remove the cable after implantation?</h4> 
  
  	<p>Because the cable is biocompatible and engineered to be tissue-friendly, it does not require removal. However, if removal is necessary due to failure of other hardware, it can be accomplished easily by resecting any fibrous tissue that has formed around it.</p> 
  
  	<h4>What is the tensile strength of the SuperCable?</h4> 
  
  	<p>Tensile strength of the polymer cable is approximately 250 pounds. This strength compares favorably with cerclage wires and cables made from stainless steel, titanium alloy, or cobalt-chrome alloy. Data on metal cables were collected from published literature and promotional materials. Results for metal cerclage vary due to different cable configurations and testing regimes.</p> 
  
  	<p>While tensile strength is comparable to that of metal cerclage, fatigue strength is a more clinically relevant measure of performance and effectiveness because fatigue loading is responsible for the majority of metal cerclage failures. Fatigue strength of the SuperCable is clearly superior to that of metal cerclage.</p> 
  </div> 
  <div class="grid_6">    
  
  		<iframe src="http://player.vimeo.com/video/31889195?title=0&byline=0&portrait=0&color=1EADF2" width="356" height="267" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe> 
  		<img src="/img/globalorth-supercable2.JPG" /> 
  		<img src="/img/globalorth-supercable3.JPG" /> 
  		<img src="/img/globalorth-supercable1.JPG" /> 
  
  </div> 
  
  <div class="clear"></div> 
  
  <div class="grid_12 productDetails"> 
  	<img src="/img/supercable.jpg" /> 
  	<br/><br/><br/><br/> 
  </div> 
  
  
  
  <div class="grid_8"> 
  	<h2>Publications</h2> 
  
  	<div class="journalArticle"> 
  		<div> 
  		  <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/20204557">Early experience with a novel nonmetallic cable in reconstructive hip surgery.</a> </span><span class="authors">Ting NT, Wera GD, Levine BR, Della Valle CJ.</span> 
  		</div> 
  		<div class="journal"> 
  		  Clin Orthop Relat Res. 2010 Sep;468(9):2382-6.<br/> 
  		  <em>Department of Orthopaedic Surgery, Rush University Medical Center, 1725 West Harrison, Suite 1063, Chicago, IL</em> 
  		</div> 
  		<div class="quotes"> 
  		  <p><strong>BACKGROUND:</strong> Metallic wires and cables are commonly used in primary and revision THA for fixation of periprosthetic fractures and osteotomies of the greater trochanter. These systems provide secure fixation and high healing rates but fraying, third-body generation, accelerated wear of the bearing surface, and injury to the surgical team remain concerning.</p> 
  		  <p>QUESTIONS/PURPOSES: We determined the rate of cable failure, union, and complications associated with a novel, nonmetallic cerclage cable in periprosthetic fracture and osteotomy fixation during THA.</p> 
  		  <p>METHODS: We retrospectively reviewed 29 patients who had primary and revision THAs using nonmetallic cables. Indications for use included fixation of an extended trochanteric osteotomy, intraoperative fracture of the proximal femur, strut allograft fixation, and a Vancouver B1 periprosthetic fracture of the femur. All patients were evaluated clinically and radiographically immediately postoperatively, at 3 weeks, 6 weeks, 3 months, and then annually thereafter. The minimum followup was 13 months (mean, 21 months; range, 13-30 months).</p> 
  		  	<p>RESULTS: Two of the 29 patients (7%) developed a nonunion; all remaining osteotomies, fractures and allografts had healed at the time of most recent evaluation. Four patients (14%) dislocated postoperatively; two were treated successfully with closed reduction, while the other two required reoperation. We identified no evidence of breakage or other complications directly attributable to the cables.</p> 
  		  	<p>CONCLUSIONS: The nonmetallic periprosthetic cables used in this series provided adequate fixation to allow for both osteotomy and fracture healing. We did not observe any complications directly related to the cables. Level of Evidence Level IV, therapeutic study. See Guidelines for Authors for a complete description of levels of evidence.</p> 
  		</div> 
  	</div> 
  
  	<div class="journalArticle"> 
  		<div> 
  		  <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/21469627">Utility of polymer cerclage cables in revision shoulder arthroplasty.</a> </span><span class="authors">Edwards TB, Stuart KD, Trappey GJ, O'Connor DP, Sarin VK.</span> 
  		</div> 
  		<div class="journal"> 
  		  Orthopedics. 2011 Apr 11;34(4).<br/> 
  		  <em>Source Fondren Orthopedic Group LLP, Texas Orthopedic Hospital, Houston, TX, USA.</em> 
  		</div> 
  		<div class="quotes"> 
  		  	<p>Revision shoulder arthroplasty often requires humeral osteotomy for stem extraction or is complicated by periprosthetic fracture. In these situations, various modes of fixation are used, including cerclage wires, cable plates, and allograft strut augmentation. The use of metal wires and cables, however, has been associated with soft tissue irritation, sharps injuries, and accelerated wear of joint arthroplasty bearing surfaces. As an alternative to traditional metal cables, the SuperCable (Kinamed Inc, Camarillo, California) contains braided ultra-high molecular-weight polyethylene fibers surrounding a nylon core. To date, no studies have examined the use of nonmetallic cerclage cables in shoulder arthroplasty.A retrospective review was performed of 11 patients who underwent shoulder arthroplasty for which nonmetallic cerclage cables were used. Clinical and radiographic data were examined regarding patient age, procedure performed, indication for cerclage cabling, time to healing of osteotomy or fracture, and any complications associated with the use of these cerclage cables. Minimum follow-up was 1 year. Ten patients underwent reverse total shoulder arthroplasty, and 1 patient underwent revision unconstrained total shoulder arthroplasty. Mean follow-up was 20.5 months. Ten patients required humeral osteotomy for stem or cement removal. Allograft augmentation was performed in 7 patients. Mean time to healing was 3.2 months. No patients experienced loosening or migration of hardware or allograft, and no complications directly related to the use of nonmetallic cerclage cables were identified.</p> 
  		</div> 
  	</div> 
  
  </div> 
  
  <div class="clear"></div> 
  
  <div class="grid_12 productDetails"> 
    <h1 class="blue">UniSyn<sup>TM</sup> Hip System</h1> 
    <p>Completely Interchangeable, Limitless Implant Options</p> 
  </div> 
  
  
  <div class="clear"></div> 
  
  <div class="grid_6"> 
  <p>The Consensus Orthopedics UniSyn™ Hip System has been designed with total flexibility in mind. All components are completely interchangeable. This allows for independent adjustment of both the size and orientation of the heads, bodies and stems. All three components can be individually fitted to specifically match the patients' anatomic structure. Surgery is simplified by providing multiple surgical options and a logical, stepwise technique.</p> 
  <p>The UniSyn Hip System features patented connection technology that allows the surgeon to independently fit the diaphysis and metaphysis, and then select the neck component that will best restore length, offset and anteversion of the patient's hip joint.</p> 
  <p><strong>59 Head Centers ? Infinite Version Control ? Titanium Plasma Surface</strong></p> 
  	<ul> 
  		<li>6 Cone Diameters: 22mm, 24mm, 26mm, 28mm, 30mm, 32mm</li> 
  		<li>Multiple medial projection options for each cone size</li> 
  		<li>Delta Ceramic heads in 28mm, 32mm and 36mm sizes</li> 
  		<li>Cobalt Chrome head sizes include 22mm, 28mm, 32mm and 36mm</li> 
  		<li>Vertical Length Options: 30mm, 36mm, 45mm, 55mm</li> 
  		<li>Modular Neck Vertical Length Options: 30mm, 36mm, 45mm, 55mm</li> 
  		<li>Lateral Offset Options: 34mm, 38mm, 42mm, 46mm</li> 
  		<li>Distal Stem Length Options: Straight: 130 - 210mm Bowed: 210, 260, and 310mm</li> 
  		<li>Stem Diameter Options: 10mm, 11mm, 12mm, 13mm, 14mm, 15mm, 16mm, 17mm, 18mm, 19mm, 20mm</li> 
  		<li>Smooth Finish, Fluted Stem, Coronal Slot</li> 
  	</ul> 
  	<br/><br/> 
  	<iframe width="420" height="315" src="http://www.youtube.com/embed/NOx672Eae5w" frameborder="0" allowfullscreen></iframe> 
  
  </div> 
  
  <div class="grid_6"> 
 	<div align="center"><img src="/img/Consensus-UniSyn-Hip.jpg'/>" /></div> 
  </div> 
  
