--- 
layout: default 
title: OPED 
--- 

 

<script type="text/javascript"> 
      $(document).ready(function(){ 
          makeVideoPlayer( "http://33332d3439.preview.hellomedical.com/__resource/da/0f/3d/02/da0f3d0299856098f98d355ca42fe0dc9d23b84f/videochapters.json", $("#video"), $("#chapterList"), $("#chapterInfo") ); 
      }); 
</script> 
 
 <div class="grid_12 subFeature subFeature-greenHeader"> 
     <div class="grid_3 alpha"><a href="/product" class="fullWidthButton">Back to products</a></div> 
     <div class="grid_3 omega push_6"> 
         <a href="http://www.oped.com.au/"> 
	    <img src="/img/supplier-oped.png" /> 
	</a> 
     </div> 
</div> 
 
<div class="clear"></div> 
 
<div class="grid_6 productDetails"> 
  <h1>VACOped</h1> 
  <h2>Not just an orthopaedic boot. It’s a rehabilitation system</h2> 
    <p><a href="http://www.oped.com.au/">OPED's</a> ingenious VACOped orthosis is a replacement for the unalterable plaster cast and features a vacuum cushion that adjusts itself precisely the shape of every foot and lower leg.</p> 
</div> 
<div class="grid_6 productDetails"> 
     
   
</div> 
<div class="clear"></div> 
 
<!--<div class="grid_12 videoPlayer"> 
   
  <div class="grid_8" id="videoContainer"> 
    <div id="video"></div> 
  </div> 
  <div class="grid_3 omega"> 
    <h2>Surgical Technique</h2> 
    <div id="chapterInfo"></div> 
  </div> 
   
  <div class="clear"></div> 
 
  <div class="grid_6 alpha"><h2 class="chapterListHeader">Video Chapter List</h2></div> 
 
  <div class="clear"></div> 
   
  <div class="grid_12 chapterList alpha" id="chapterList"> 
                     
  </div> 
   
</div> 
 
<div class="clear"></div>--> 
 
<div class="grid_12"><div class="spacer dotted"></div></div> 
 
<div class="clear"></div> 
 
<div class="grid_6"> 
  <h2>Features</h2> 
  <ul> 
    <li>The light but very stable outer plastic shell provides the injury site with the necessary stability allowing for far more freedom of movement compared to a plaster cast</li> 
      <li>The vacuum stabilising system allows for adjustable remodelling to take place when swelling or atrophy occurs</li> 
    <li>The ability to mobilise earlier prevents the negative consequences of joint immobilisation seen in plaster cast use, such as muscle atrophy, thrombosis or cartilaginous damage</li> 
<li>Studies have shown that mobility of the upper and lower ankle joints were better and a physiological gait was achievable due to the limited movement available in a VACOped orthosis 
  Because of the possibility of being able to periodically remove the stabilising system, and replace it without loss of stability, the prerequisite for regular wound examinations, care of the soft tissue and intermittent physical therapy is fulfilled</li> 
    <li>There is a subsequent, greatly increased rate of impaired post-operative wound healing after functional rehabilitation in a brace</li> 
    <li>VACOped is almost completely X-ray permeable allowing for X-ray follow up without loss of stabilisation</li> 
    <li>The atrophic, metabilic, neurological and functional adaptive mechanisms that develop in a cast are significantly reduced with the use of a VACOped</li> 
<li>Patients are able to return to work on average 3 weeks earlier than those in casts 
VACOped units are reusable and are sent back for thourough cleaning and inspection after use</li> 
  </ul> 
   
</div>         
<div class="grid_6"> 
  <img src="/img/vacoped.jpg" /> 
</div> 
 
<div class="clear"></div>    
<div class="grid_12"><div class="spacer "></div></div>         
<div class="clear"></div> 
 
<div class="grid_8"> 
   
   
</div> 
 
<!--  
//  
// VACOankle  
// 
--> 
<div class="grid_6 productDetails"> 
  <h1>VACOankle</h1> 
  <!--<h2>Tagline...</h2>--> 
  <p>This functional, new ankle brace successfully combines great stability and patient comfort while allowing for weight-bearing from an early stage of rehabilitation.</p> 
</div> 
<div class="grid_6 productDetails"> 
   
</div> 
<div class="clear"></div> 
<div class="grid_12"><div class="spacer dotted"></div></div> 
 
<div class="clear"></div> 
 
<div class="grid_6"> 
  <h2>Features</h2> 
  <ul> 
    <li>The use of vacuum stabilising system is indicated in: 
      <ul> 
        <li>Lateral collateral ligament injuries of the ankle</li> 
        <li>Weber type A ankle fractures</li> 
        <li>Severe ankle sprains</li> 
        <li>Joint capsule injuries</li> 
        <li>Possible neurological disorders that require the ankle joint to be stabilised</li> 
      </ul> 
    </li> 
    <li>The vacuum cushioning can be adapted to various degrees of swelling - it can act as a soft cushion to reduce swelling after injury while it can also act as a firmer brace providing the stability to allow for weight bearing to begin earlier than other alternatives</li> 
    <li>It can be used in a series with other OPED vacuum stabilisation systems (eg. VACOped, VACOsplint) after injuries to the ligaments of the ankle joint</li> 
    <li>The VACOankle provides firm support for the upper ankle joint against pronation and supination</li>         
  </ul> 
   
</div>    
 
        
<div class="grid_6"> 
  <img src="/img/vacoankle.jpg" /> 
</div> 
 
 
<div class="clear"></div> 
<div class="grid_12"><div class="spacer dotted"></div></div> 
<div class="clear"></div> 
 
<!--  
//  
// CAMOped  
// 
--> 
<div class="grid_6 productDetails"> 
  <h1>CAMOped</h1> 
  <!--<h2>Tagline...</h2>--> 
  <p>The ingenious OPED CAMOped takes advantage of the strength of the healthy leg following unilateral knee injury to promote immediate postoperative passive training of the injured leg.</p> 
</div> 
<div class="grid_6 productDetails"> 
   
</div> 
<div class="clear"></div> 
<div class="grid_12"><div class="spacer dotted"></div></div> 
 
<div class="clear"></div> 
 
<div class="grid_6"> 
  <h2>Features</h2> 
  <ul> 
    <li>Due to the crossover effect, the muscular activity of the healthy leg causes an activation of the weakened group of muscles of the injured leg</li> 
    <li>Studies have shown that the use of a CAMOped in the immediate postoperative rehabilitation phase in conjunction with conventional physiotherapy reduces the proprioceptive deficit in comparison to physiotherapy alone</li> 
    <li>Movement in the CAMOped encourages sensory-motor challenge and proprioceptive stimulus reception, which are all disrupted in trauma</li> 
    <li>Indications for use include: 
      <ul> 
        <li>Pre- and postoperatively for cruciate ligament procedures</li> 
        <li>After arthrolyses and synvectomies</li> 
        <li>For physiotherapy in cardivascular disease or stroke patients</li> 
        <li>As physical thrombosis prophylaxis</li> 
        <li>After osteosyntheses, fractures, pseudoarthroses and corrective osteotomies</li> 
        <li>After reconstructive procedures on the menisci and articular cartilage</li> 
      </ul> 
    </li> 
    <li>Benefits of the CAMOped in the rehabilitation process include the convenience of complete rehabilitation from home, the highly adjustable controls and resistance and the transportability of the system which easily folds and weighs just 8.8kg</li> 
    <li>Goals of treatment include: 
      <ul> 
        <li>Increased range of motion in the knee and hip</li> 
        <li>Increased coordination and proprioception</li> 
        <li>Gradual strengthening of the weakened muscles in the injured leg</li> 
        <li>Decreased inflammation and effusion with improved ligament and wound healing times</li> 
        <li>Motivation of the patient through their participation in therapy</li> 
      </ul> 
    </li>        
  </ul> 
   
</div>    
 
        
<div class="grid_6"> 
  <img src="/img/camoped.jpg" /> 
</div> 
 
 
 
 
 
 
 
 
 
