--- 
layout: default 
title: Ortho Cell 
--- 

 

 <div class="grid_12 subFeature subFeature-greenHeader"> 
     <div class="grid_3 alpha"><a href="/product" class="fullWidthButton">Back to products</a></div> 
     <div class="grid_3 omega push_6"> 
     <a href="http://orthocell.com.au/"> 
	    <img src="/img/supplier-orthocell.png" /> 
	</a> 
     </div> 
</div> 
 
<div class="grid_12 productDetails"> 
  	<h1>Orthocell Autologous Tenocyte Implantation</h1> 
  	<p>Orthocell’s Autologous Tenocyte Implantation (Ortho-ATI(TM)) is a remarkable evolution for the treatment of chronic tendonopathy that results in reduced pain and increased function of the tendon with minimal invasiveness.</p> 
</div> 
<div class="clear"></div> 
 
<div class="grid_6"> 
	<h2>Features of Ortho-ATI(TM) include:</h2> 
	<ul> 
		<li>Utilises the body’s own tenocytes to repair and treat chronic tendonopathy safely and effectively</li> 
		<li>Superior reparative results compared with the use of bioscaffolds alone with full absorption and replacement of bioscaffolds with tendon tissue, longitudinally arranged collagen bundles and even distribution of fibroblasts between the bundles</li> 
		<li>Significantly less intense inflammatory response when compared to the use of bioscaffolds alone</li> 
		<li>Bioscaffold with ATI is easily and quickly inserted into damaged tendons via ultrasound-guided injection</li> 
		<li>Significantly reduced pain and improved tendon function result from ATI tendon repair</li> 
		<li>There is significant pre-clinical evidence highlighting the effectiveness of Autologous Tenocyte Implantation as a treatment for chronic Achilles and rotator cuff tendonopathy</li> 
		<li>Repaired tendons are of similar width and significantly longer than a normal, unaffected tendon</li> 
		<li>The engineered tendons resemble natural tendons in gross appearance, histological structure and biomechanical properties once fully taken</li> 
	</ul> 
</div> 
 
<div class="grid_6"> 
    <img src="/img/tendonImages.jpg" />     
</div> 
 
<div class="clear"></div> 
 
<div class="grid_8"> 
	 
	<h2>Publications</h2> 
	 
	<div class="journalArticle"> 
	    <div> 
	      <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19776339">Biomechanical and biologic augmentation for the treatment of massive rotator cuff tears.</a> </span><span class="authors">Nho SJ, Delos D, Yadav H, Pensak M, Romeo AA, Warren RF, MacGillivray JD.</span> 
	    </div> 
	    <div class="journal"> 
	      Am J Sports Med. 2010 Mar;38(3):619-29.<br/> 
	      <em>Section of Shoulder and Elbow Surgery, Division of Sports Medicine, Department of Orthopedic Surgery, Rush University Medical Center, Rush Medical College of Rush University, Chicago, IL 60612, USA. </em> 
	    </div> 
	    <div class="quotes"> 
	      	<p>Recent studies have reported that massive rotator cuff tears do not heal as predictably as, and may have diminished clinical outcomes compared with, smaller rotator cuff tears. An improved understanding of the biologic degeneration and the biomechanical alterations of massive rotator cuff tears should provide better strategies to optimize outcomes. The approach to patients with massive rotator cuff tears requires careful assessment of the patient and the extent of rotator cuff degeneration to determine the appropriate treatment. For a rotator cuff tear that is repairable, the goal is to produce a tension-free, anatomical repair that restores the footprint using soft tissue releases and various suturing techniques, including double-row, transosseous-equivalent suture bridges or the rip-stop stitch. For irreparable cuff tears, the surgeon may elect to proceed with 1 of 2 approaches: (1) palliative surgical treatment-that is, rotator cuff debridement, synovectomy, biceps tenotomy, tuberoplasty and/or nonanatomical repair with partial repair; or (2) salvage treatment with various tendon transfers. Even though the biomechanical constructs for rotator cuff repairs have been improved, the integrity of the repair still depends on biologic healing at the tendon-to-bone junction. There has been much interest in the development of a scaffold to bridge massive rotator cuff tears and adjuvant biologic modalities including growth factors and tenocyte-seeded scaffolds to augment tendon-to-bone healing. The treatment of rotator cuff disease has improved considerably, but massive rotator cuff tears continue to pose a challenging problem for orthopaedic surgeons.</p> 
	    </div> 
	</div> 
	 
	<div class="journalArticle"> 
	    <div> 
	      <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/17536925">Autologous tenocyte therapy using porcine-derived bioscaffolds for massive rotator cuff defect in rabbits.</a> </span><span class="authors">Chen JM, Willers C, Xu J, Wang A, Zheng MH.</span> 
	    </div> 
	    <div class="journal"> 
	      Tissue Eng. 2007 Jul;13(7):1479-91.<br/> 
	      <em>Department of Orthopaedic Surgery, School of Surgery and Pathology, University of Western Australia, Nedlands, Australia.</em> 
	    </div> 
	    <div class="quotes"> 
	      	<p>Large and retracted rotator cuff tendon tears fail to repair or retear after surgical intervention. This study attempted to develop novel tissue-engineering approaches using tenocyte-seeded bioscaffolds for tendon reconstruction of massive rotator cuff tendon defect in rabbits. Porcine small intestine submucosa (Restore) and type I/III collagen bioscaffold (ACI-Maix) were chosen as bioscaffold carriers for autologous tenocytes. Biological characterization of autologous tenocytes was conducted before the implantation. The tenocyte-seeded bioscaffolds were implanted as interposition grafts to reconstruct massive rotator cuff tendon defects in rabbits. In situ reimplantation of the autologous rotator cuff tendon, excised during defect creation, served as a positive control. Histological outcomes were analyzed and semi-quantitatively graded at 4 and 8 weeks after surgery. At 4 weeks, both tenocyte-seeded bioscaffolds displayed inflammatory reaction similar to bioscaffold-only cuff reconstruction, and the histological grading were inferior to control repair. However, at 8 weeks, inflammatory reaction of both tenocyte-seeded bioscaffolds were dramatically less than with bioscaffold alone. In addition, bioscaffolds seeded with tenocytes generated a histological appearance similar to that of the positive control. The implantation of autologous tenocytes on collagen-based bioscaffolds results in better rotator cuff tendon healing and remodeling than with the implantation of bioscaffold alone.</p> 
	    </div> 
	</div> 
	 
	<div class="journalArticle"> 
	    <div> 
	      <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19836974">In chronic lateral epicondylitis, apoptosis and autophagic cell death occur in the extensor carpi radialis brevis tendon.</a> </span><span class="authors">Chen J, Wang A, Xu J, Zheng M.</span> 
	    </div> 
	    <div class="journal"> 
	      J Shoulder Elbow Surg. 2010 Apr;19(3):355-62.<br/> 
	      <em>Unit of Orthopaedic Research, School of Surgery, University of Western Australia, Perth, Australia. 
		</em> 
	    </div> 
	    <div class="quotes"> 
	      	<p><strong>HYPOTHESIS:</strong>	Despite its common occurrence, lateral epicondylitis is poorly understood from a cellular and molecular perspective. We hypothesize that apoptosis and autophagic cell death are involved in the development of chronic lateral epicondylitis.</p> 
	      	<p><strong>MATERIALS AND METHODS:</strong> In 10 patients undergoing surgery for chronic recalcitrant lateral epicondylitis, tendon samples were taken from the extensor carpi radialis brevis (ECRB) tendon and were processed for hematoxylin and eosin, terminal deoxynucleotidyl transferase-mediated deoxy uridine triphosphate nick-end labeling (TUNEL) assay, and immunostaining. Extracellular matrix structure was graded I to III according to collagen fiber structure and arrangement. Apoptotic rate, autophagic cell death rate, cell density, and type I collagen content were measured and compared between areas with different collagen grade.</p> 
	      	<p><strong>RESULTS:</strong> Apoptotic and autophagic cell death occur in the ECRB tendon and varied with the grade of collagen structure. In grade I matrix with relatively less disrupted collagen structure, the apoptosis rate was 23.2% +/- 4.8% and the autophagy cell death rate was 7.6% +/- 2.2%. In grade II matrix with more advanced breakdown of collagen structure, the apoptosis rate increased to 34.4% +/- 4% (P < .05) and the autophagic cell death rate to 13.7% +/- 3% (P < .05).</p> 
	      	<p><strong>DISCUSSION:</strong> This study demonstrated that apoptosis and autophagic cell death occur in the ECRB tendon in chronic lateral epicondylitis. The markedly elevated apoptotic rate and autophagic cell death rate in the grade II matrix may be responsible for the decrease in cellularity and further deterioration of collagen quality seen in end-stage grade III matrix, and this eventually compromised the tendon's ability to maintain its integrity and resulted in tendon tear.</p> 
	      	<p><strong>CONCLUSION:</strong>	Both apoptosis and autophagic cell death play an important role in the development of tendon degeneration in chronic lateral epicondylitis.</p> 
	    </div> 
	</div> 
	 
	<div class="journalArticle"> 
	    <div> 
	      <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/15338228">Cultivation of human tenocytes in high-density culture.</a> </span><span class="authors">Schulze-Tanzil G, Mobasheri A, Clegg PD, Sendzik J, John T, Shakibaei M.</span> 
	    </div> 
	    <div class="journal"> 
	      Histochem Cell Biol. 2004 Sep;122(3):219-28. Epub 2004 Aug 27.<br/> 
	      <em>Campus Benjamin Franklin, Institute of Anatomy, Department of Cell and Neurobiology, Charité Medicine University Berlin, Königin-Luise-Strasse 15, 14195, Germany. 
		</em> 
	    </div> 
	    <div class="quotes"> 
			<p>Limited supplies of tendon tissue for use in reconstructive surgery require development of phenotypically stable tenocytes cultivated in vitro. Tenocytes in monolayer culture display an unstable phenotype and tend to dedifferentiate, but those in three-dimensional culture may remain phenotypically and functionally differentiated. In this study we established a three-dimensional high-density culture system for cultivation of human tenocytes for tissue engineering. Human tenocytes were expanded in monolayer culture before transfer to high-density culture. The synthesis of major extracellular matrix proteins and the ultrastructural morphology of the three-dimensional cultures were investigated for up to 2 weeks by electron microscopy, immunohistochemistry, immunoblotting and quantitative, real-time PCR. Differentiated tenocytes were able to survive over a period of 14 days in high-density culture. During the culture period tenocytes exhibited a typical tenocyte morphology embedded in an extensive extracellular matrix containing cross-striated collagen type I fibrils and proteoglycans. Moreover, expression of the tendon-specific marker scleraxis underlined the tenocytic identity of these cells. Taken together, we conclude that the three-dimensional high-density cultures may be useful as a new approach for obtaining differentiated tenocytes for autologous tenocyte transplantation to support tendon and ligament healing and to investigate the effect of tendon-affecting agents on tendon in vitro.</p> 
	    </div> 
	</div> 
	 
	<div class="journalArticle"> 
	    <div> 
	      <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/12360068">Bridging tendon defects using autologous tenocyte engineered tendon in a hen model.</a> </span><span class="authors">Cao Y, Liu Y, Liu W, Shan Q, Buonocore SD, Cui L.</span> 
	    </div> 
	    <div class="journal"> 
	      Plast Reconstr Surg. 2002 Oct;110(5):1280-9.<br/> 
	      <em>Department of Plastic and Reconstructive Surgery, Shanghai Ninth People's Hospital, Tissue Engineering Center, Shanghai Second Medical University, Shanghai, ROC 
		</em> 
	    </div> 
	    <div class="quotes"> 
			<p>Tendon defects remain a major concern in plastic surgery because of the limited availability of tendon autografts. Whereas immune rejection prohibits the use of tendon allografts, most prosthetic replacements also fail to achieve a satisfactory long-term result of tendon repair. The tissue engineering technique, however, can generate different tissues using autologous cells and thus may provide an optimal approach to address this concern. The purpose of this study was to test the feasibility of engineering tendon tissues with autologous tenocytes to bridge a tendon defect in either a tendon sheath open model or a partial open model in the hen. In a total of 40 Leghorn hens, flexor tendons were harvested from the left feet and were digested with 0.25% type II collagenase. The isolated tenocytes were expanded in vitro and mixed with unwoven polyglycolic acid fibers to form a cell-scaffold construct in the shape of a tendon. The constructs were wrapped with intestinal submucosa and then cultured in Dulbecco's Modified Eagle Medium plus 10% fetal bovine serum for 1 week before in vivo transplantation. On the feet, a defect of 3 to 4 cm was created at the second flexor digitorum profundus tendon by resecting a tendon fragment. The defects were bridged either with a cell-scaffold construct in the experimental group ( n= 20) or with scaffold material alone in the control group ( n= 20). Specimens were harvested at 8, 12, and 14 weeks postrepair for gross and histologic examination and for biomechanical analysis. In the experimental group, a cordlike tissue bridging the tendon defect was formed at 8 weeks postrepair. At 14 weeks, the engineered tendons resembled the natural tendons grossly in both color and texture. Histologic examination at 8 weeks showed that the neo-tendon contained abundant tenocytes and collagen; most collagen bundles were randomly arranged. The undegraded polyglycolic acid fibers surrounded by inflammatory cells were also observed. At 12 weeks, tenocytes and collagen fibers became longitudinally aligned, with good interface healing to normal tendon. At 14 weeks, the engineered tendons displayed a typical tendon structure hardly distinguishable from that of normal tendons. Biomechanical analysis demonstrated increased breaking strength of the engineered tendons with time, which reached 83 percent of normal tendon strength at 14 weeks. In the control group, polyglycolic acid constructs were mostly degraded at 8 weeks and disappeared at 14 weeks. However, the breaking strength of the scaffold materials accounted for only 9 percent of normal tendon strength. The results of this study indicated that tendon tissue could be engineered in vivo to bridge a tendon defect. The engineered tendons resembled natural tendons not only in gross appearance and histologic structure but also in biomechanical properties.</p> 
	    </div> 
	</div> 
	 
</div> 
 
<div class="clear"></div> 
 
<!--<div class="grid_6"> 
	<h2>Surgical Technique</h2> 
</div> 
 
<div class="grid_6"> 
	<h2>Downloads</h2> 
</div> 
 
<div class="clear"></div> 
 
<div class="grid_6"> 
	<h2>Questions</h2> 
</div> 
 
<div class="clear"></div>--> 
 
<div class="grid_12 productDetails"> 
  	<h1>Orthocell Autologous Chondrocyte Implantation</h1> 
  	<p>This fast progressing surgical treatment for focal chondral defects aims to significantly improve patient outcomes as both primary management and following previous failed surgery.</p> 
</div> 
<div class="clear"></div> 
 
<div class="grid_6"> 
	<h2>Features of Orthocell’s ACI include:</h2> 
	<ul> 
		<li>Cultivates body’s own cells for reparation of a focal chondral defect, eliminating immune rejection possibilities</li> 
		<li>Greatly improved pain, swelling and overall condition of the joint following ACI repair compared with debridement</li> 
		<li>Shown clinically to be successful in adequately relieving symptoms and restoring function following previously failed surgical treatment</li> 
		<li>The type of defect, acute or chronic, has no effect on ACI outcomes as it does with debridement outcomes</li> 
		<li>Repaired defects have been shown clinically to remain intact and function well 24 months post-ACI</li> 
		<li>Widely accepted as standard procedure for focal chondral defect repair and articular cartilage regeneration and is rebated under the Australian private health care system</li> 
	</ul> 
</div> 
 
<div class="clear"></div> 
 
<div class="grid_8"> 
	<h2>Publications</h2> 
	 
	<div class="journalArticle"> 
	    <div> 
	      <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/21299794">Autologous chondrocyte implantation: an overview of technique and outcomes.</a> </span><span class="authors">Batty L, Dance S, Bajaj S, Cole BJ.</span> 
	    </div> 
	    <div class="journal"> 
	      ANZ J Surg. 2011 Jan;81(1-2):18-25. doi: 10.1111/j.1445-2197.2010.05495.x. Epub 2010 Oct 1.<br/> 
	      <em>The Alfred Hospital, Prahran, Victoria. </em> 
	    </div> 
	    <div class="quotes"> 
	      	<p>Articular cartilage is susceptible to damage; however, it has limited capacity for repair. Damage can lead to persistent symptoms including pain, swelling, and loss of function and may ultimately progress to symptomatic degeneration of the joint. To restore function and minimize symptoms, many advocate surgical intervention in selected candidates, which can range from arthroscopic debridement to restorative procedures depending on patient and lesion characteristics. Autologous Chondrocyte Implantation (ACI) is a two-stage, typically second-line intervention where cultured autologous chondrocytes are used with the aim of resurfacing symptomatic chondral defects with hyaline or hyaline-like cartilage. Careful patient selection is important. We present an overview of this procedure including indications and contraindications, surgical technique, and post-operative management. A review of published ACI outcomes is then presented.</p> 
	    </div> 
	</div> 
	 
	<div class="journalArticle"> 
	    <div> 
	      <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/21299794">Autologous chondrocyte implantation for treatment of focal chondral defects of the knee--a clinical, arthroscopic, MRI and histologic evaluation at 2 years.</a> </span><span class="authors">Henderson I, Francisco R, Oakes B, Cameron J.</span> 
	    </div> 
	    <div class="journal"> 
	      Knee. 2005 Jun;12(3):209-16. Epub 2004 Nov 14.<br/> 
	      <em>Orthopaedic Research Department, St. Vincent's and Mercy Private Hospital, 166 Gipps Street, East Melbourne, Victoria 3002, Australia.</em> 
	    </div> 
	    <div class="quotes"> 
	      	<p>To determine the efficacy of autologous chondrocyte implantation (ACI) in treating focal chondral defects of the knee, we reviewed the 2-year treatment outcome of ACI in 53 patients (72 lesions) through clinical evaluation, MRI, second-look arthroscopy and biopsies obtained. Improvement in mean subjective score from preoperative (37.6) to 12 months (56.4) and 24 (60.1) months post-ACI were observed. Knee function levels also improved [86% International Cartilage Repair Society (ICRS) III/IV to 66.6% I/II] from preoperative period to 24 months postimplantation. Objective IKDC score of A or B were observed in 88% preoperatively. This decreased to 67.9% at 3 months before improving to 92.5% at 12 months and 94.4% at 24 months post implantation. Transient deterioration in all these clinical scores was observed at 3 months before progressive improvement became evident. MRI studies demonstrated 75.3% with at least 50% defect fill, 46.3% with near normal signal, 68.1% with mild/no effusion and also 66.7% with mild/no underlying bone marrow oedema at 3 months. These values improved to 94.2%, 86.9%, 91.3% and 88.4%, respectively, at 12 months. At 24 months, further improvements to 97%, 97%, 95.6% and 92.6%, respectively, were observed. Second-look arthroscopy carried out in 22 knees (32 lesions) demonstrated all grafts to be normal/nearly normal based on the International Cartilage Repair Society (ICRS) visual repair assessment while core biopsies from 20 lesions demonstrated 13 grafts to have hyaline/hyaline-like tissue. Improvement in clinical and MRI findings obtained from second-look arthroscopy and core biopsies evaluated indicate that, at 24 months post-ACI, the resurfaced focal chondral defects of the knee remained intact and continued to function well.</p> 
	    </div> 
	</div> 
	 
	<div class="journalArticle"> 
	    <div> 
	      <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/16093543">Autologous chondrocyte implantation versus debridement for treatment of full-thickness chondral defects of the knee: an observational cohort study with 3-year follow-up.</a> </span><span class="authors">Fu FH, Zurakowski D, Browne JE, Mandelbaum B, Erggelet C, Moseley JB Jr, Anderson AF, Micheli LJ.</span> 
	    </div> 
	    <div class="journal"> 
	      Am J Sports Med. 2005 Nov;33(11):1658-66. Epub 2005 Aug 10.<br/> 
	      <em>University of Pittsburgh Medical Center, Pennsylvania, USA.</em> 
	    </div> 
	    <div class="quotes"> 
	      	<p><strong>BACKGROUND:</strong> Studies that compare the effectiveness of different cartilage repair treatments are needed to update treatment algorithms.</p> 
			<p><strong>HYPOTHESIS:</strong> Autologous chondrocyte implantation provides greater improvement in overall condition score than does debridement at a minimum of 3 years' follow-up.</p> 
			<p><strong>STUDY DESIGN:</strong> Cohort study; Level of evidence, 3.</p> 
	      	<p><strong>METHODS:</strong> Cohorts for debridement and autologous chondrocyte implantation each included 58 Cartilage Repair Registry patients who met study criteria. A retrospective analysis was performed on prospectively collected baseline and follow-up data.</p> 
	      	<p><strong>RESULTS:</strong> Patients in the autologous chondrocyte implantation and debridement groups had similar demographics and chondral lesions at baseline. However, more autologous chondrocyte implantation patients failed a previous debridement or marrow stimulation procedure than did debridement patients. Follow-up outcome assessments were completed by 54 autologous chondrocyte implantation patients and 42 debridement patients. Eighty-one percent of the autologous chondrocyte implantation patients and 60% of the debridement patients reported median improvements of 5 points and 2 points, respectively, in the overall condition score. Autologous chondrocyte implantation patients also reported greater improvements in the median pain and swelling scores than did debridement patients. The treatment failure rate was the same for both autologous chondrocyte implantation and debridement patients. Eighteen autologous chondrocyte implantation patients and 1 debridement patient had at least 1 subsequent operation.</p> 
	      	<p><strong>CONCLUSION:</strong> Although patients treated with debridement for symptomatic, large, focal, chondral defects of the distal femur had some functional improvement at follow-up, patients who received autologous chondrocyte implantations obtained higher levels of knee function and had greater relief from pain and swelling at 3 years.</p> 
	    </div> 
	</div> 
	 
	<div class="journalArticle"> 
	    <div> 
	      <span class="title"><a href="http://www.ncbi.nlm.nih.gov/pubmed/11603718">Autologous chondrocyte implantation for focal chondral defects of the knee.</a> </span><span class="authors">Minas T.</span> 
	    </div> 
	    <div class="journal"> 
	      Clin Orthop Relat Res. 2001 Oct;(391 Suppl):S349-61.<br/> 
	      <em>Harvard Medical School, Cartilage Repair Center, Brigham and Women's Hospital, Chestnut Hill, MA 02467, USA.</em> 
	    </div> 
	    <div class="quotes"> 
	      	<p>Autologous chondrocyte implantation has been used since March 1995 in a prospective cohort evaluation. One hundred sixty-nine patients, 13 to 58 years, have been treated as of December 1999. One hundred seven patients have greater than 12 months followup, and 56 have greater than 24 months followup. Overall 87% of patients improved. Patient assessment instruments include the modified Cincinnati knee rating scale, Short Form-36, Knee Society score, Western Ontario McMaster Universities Osteoarthritis Index score, and patient satisfaction survey. Treatment cases included the following categories: Simple (N = 12) isolated femoral condyles; Complex (N = 86) nonarthritic knees with multiple defects on the femur, or isolated lesions to the patella or tibia; and Salvage (N = 71) knees with early arthritic changes. The areas treated were large: Simple, 4.3 cm2 (one defect); Complex, 6.75 cm2 (4.5 cm2 per defect x 1.5 defects per case), and Salvage, 11.66 cm2 (5.3 cm2 per defect x 2.2 defects per case). Patients who had complex and salvage treatments (N = 107) with greater than 1 year followup frequently had adjuvant treatments including valgus tibial (N = 24) or tibial tubercle (N = 15) osteotomies or ligament reconstruction (N = 5). At the 2-year followup, statistically significant functional improvements occurred in the patients in the Simple and Complex categories (Cincinnati score; Simple, baseline 3.57, 24 months = 5.38; Complex, baseline 3.40, 24 months = 6.06). Patients in the Salvage category had statistically significant improvement in Short Form-36 quality of life scores (Physical summary, 24 months) and an increase in the Cincinnati rating scale when the patellofemoral joint was not involved. Patient satisfaction at 24 months for Simple, Complex, and Salvage categories was 60%, 70%, and 90%, respectively. There were 22 failures in 169 patients treated (13%), which was defined as no clinical improvement or graft failure.</p> 
	    </div> 
	</div> 
	 
</div> 
 
<div class="clear"></div> 
 
<div class="grid_6"> 
	<h2>Downloads</h2> 
	<div class="downloadBox"> 
		<div class="download"> 
			<strong>Patient Information Sheet</strong> <a href="http://www.melbourneradiology.com.au/pdfs/ati/ati-orthocell-patient-information.pdf">Download</a> 
		</div> 
	</div> 
</div> 
 
<!--<div class="grid_6"> 
	<h2>Downloads</h2> 
</div> 
 
<div class="clear"></div> 
 
<div class="grid_6"> 
	<h2>Questions</h2> 
</div> 
 
<div class="clear"></div>-->