<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>PurePlay - ${page.title}</title>
      <meta name="Keywords" content="${page.keywords}" />
      <meta name="Description" content="${page.description}" />
      <meta name="Author" content="ClinicianSites" />
<meta name="google-site-verification" content="4cFu6tiKg8FEjMf8XuU3kArB_g-Yql9WvikzpoynZAY" />
      <!-- Stylesheets & Scripts //-->
      <link href="/img/pureplayfav.png" rel="shortcut icon" />
     <script type="text/javascript" src="http://cdn01.hellomedical.com/website/js/jquery.js"></script>
      <script type="text/javascript" src="/js/jquery.formhelper.js"></script>
      <script type="text/javascript" src="/js/jquery.flash.js'/>"></script>
<script type="text/javascript" src="http://cdn01.hellomedical.com/website/js/hellomedical/hmweb-api-1.0.min.js?ts=20110518"></script>
      
      <script type="text/javascript" src="/js/flowplayer-3.2.6.min.js"></script>
      <script type="text/javascript" src="/js/flowplayer.controls-3.0.2.min.js'/>"></script>
      <script type="text/javascript" src="/js/hw-videoplayer.js"></script>
      
    
      <link type="text/css" rel="stylesheet" href="/css/grid_12.css"/> 
      <link type="text/css" rel="stylesheet" href="/css/style.css"/> 
      <link type="text/css" rel="stylesheet" href="/css/errorbox.css"/> 
      <!--<link type="text/css" rel="stylesheet" href="/css/jquery.formtools.css"/> -->
    
      <script type="text/javascript" src="http://use.typekit.com/bmt8svb.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
     
    </head>
  
  <body>
    <div class="wrapper">
      <div class="container header">
        <div class="grid_2"><a href="/" class="imageButton logo">PurePlay orthopaedics</a></div>
        <div class="grid_10">
          <div class="nav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/product">Products</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <!--<li><a href="/research">Research</a></li>-->
              <li><a href="/contact">Contact</a></li>
              <!--<li><a href="/bookings">New Booking</a></li>-->
            </ul>
          </div>          
        </div>
        <div class="clear"></div>
      </div>
            
      <div class="container content">
        
            {{ content }}
        
        <div class="clear"></div>
      	</div>
	
      
      <div class="container footer">
        
        <!--<div class="grid_12">
          <a href="/supplier/globalorthopaedic" class="imageButton partnerlogo-globalorthopaedic">Global Orthopaedics</a>
          <a href="/supplier/medartis" class="imageButton partnerlogo-medartis">Medartis</a>
          <a href="/supplier/wright" class="imageButton partnerlogo-wright">Wright</a>
          <a href="/supplier/oped" class="imageButton partnerlogo-oped">OPED</a>
          <a href="/supplier/orthocell" class="imageButton partnerlogo-orthocel">Orthocell</a>
        </div>-->
        
        <!---<div class="grid_12 ruleTop">
          

        </div>-->
        
        <div class="grid_12 ruleTop">
          <div class="grid_6 alpha"><strong>&copy; 2011</strong> <a href="/">PurePlay</a> 
            <a href="/privacy">Privacy Policy</a> <a href="/disclaimer">Disclaimer</a>
          </div>
          <div class="grid_6 omega alignRight">Website by <a href="http://www.hellomedical.com/">HelloMedical</a></div>
        </div>  
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
